<div class="photos">
  <% if @place.photos.present? %>
    <% @place.photos.each do |photo| %>
      <%= image_tag photo.picture %><br/>
      <%= photo.caption %><br/><br/>
    <% end %>
  <% end %>
</div>


<!-- Photo Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="photoModalLabel">Add a photo</h4>
      </div>
        <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <div class="modal-body">
            <%= f.input :picture, label: raw("Upload Picture&nbsp;&nbsp;") %>
            <%= f.input :caption %>    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Add Photo", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>
</div>